In [1]:
#Import libraries
import yfinance as yf
import pandas as pd
import os
import datetime as dt
import numpy as np
import pandas as pd
import alpaca_trade_api as tradeapi
from dotenv import load_dotenv

In [2]:
load_dotenv()
# Set Alpaca API key and secret
alpaca_key = os.getenv('ALPACA_API_KEY')
alpaca_secret = os.getenv('ALPACA_SECRET_KEY')

api = tradeapi.REST(
    alpaca_key,
    alpaca_secret,
    api_version = "v2"
)

In [7]:
#Pull all data for each sector from alpaca - requires multiple pulls
#Concat data into one df
tickers = ["JPM", "SPY"]

timeframe = "1D"
year_start=1990
year_list=[]
while year_start < 2022:
    year_list.append(year_start)
    year_start +=1

ticker_data = []
for my_year in year_list:
    
    start_date=str(my_year)+'-01-01'
    end_date=str(my_year)+'-12-31'

    data = api.get_barset(
    tickers,
    timeframe,
    start = pd.Timestamp(start_date, tz="America/New_York").isoformat(),
    end = pd.Timestamp(end_date, tz="America/New_York").isoformat(),
    limit = 1000
    ).df
    ticker_data.append(data)
    
all_ticker_data = pd.concat(ticker_data, axis="rows", join="inner")

all_ticker_data.index.rename("Date", inplace=True)
all_ticker_data.index = pd.to_datetime(all_ticker_data.index.date)


all_ticker_data.head()

              JPM                                    SPY                  \
             open   high    low  close    volume    open    high     low
2008-01-02  43.55  43.79  42.00  42.17  20782765  146.53  146.99  143.88
2008-01-03  42.47  42.65  41.76  41.86  16359123  144.92  145.49  144.12
2008-01-04  41.41  41.80  40.63  40.89  24189307  143.34  143.44  140.92
2008-01-07  41.10  41.58  40.16  41.32  24857162  141.81  142.23  140.10
2008-01-08  41.46  41.58  39.42  39.56  31904972  142.10  142.90  138.63


             close     volume
2008-01-02  144.55  175801806
2008-01-03  144.46  111357758
2008-01-04  140.93  195945264
2008-01-07  141.46  220398905
2008-01-08  138.81  303249870

In [8]:
all_ticker_data.to_csv('price_history.csv')